@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 w-screen overflow-x-hidden scroll-smooth bg-gradient-to-r from-white to-[#C7C7C7] p-0 font-merriweather text-[#343434];
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-fill-mode: forwards;
  }
  .animate-duration-1 {
    animation-duration: 1s;
  }
  .animate-duration-2 {
    animation-duration: 1s;
  }
  .animate-duration-3 {
    animation-duration: 1s;
  }
  .animate-duration-4 {
    animation-duration: 1s;
  }
  .animate-duration-5 {
    animation-duration: 1s;
  }

  .animate-delay-1-2 {
    animation-delay: 0.5s;
  }
  .animate-delay-1 {
    animation-delay: 1s;
  }
  .animate-delay-2 {
    animation-delay: 2s;
  }
  .animate-delay-3 {
    animation-delay: 3s;
  }
  .animate-delay-4 {
    animation-delay: 4s;
  }
  .animate-delay-5 {
    animation-delay: 5s;
  }

  bg-transparent-1-4 {
    background: rgba(0, 0, 0, 0.25);
  }
  bg-transparent-1-2 {
    background: rgba(0, 0, 0, 0.5);
  }
}
